


 <div class="container"> 
    <div class="box">
        <hr>
			<h2 class="intro-text text-center">
				<div id="zipcode">
	             <div class="container">		
				 	<%= form_tag(results_path, method: :get) do %>
					    <h1> Find Your Truck </h1>
							<%=  text_field_tag :zipcode, nil, placeholder:  "zipcode", class: "zip" %>
						<br>
							<%= submit_tag 'Enter', class: "btn btn-success" %>
							<button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">About</button>
	<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
							  <div class="modal-dialog modal-sm">

							    <!-- Modal content-->
							    <div class="modal-content">
							        <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Find Your Truck</h4>
							        </div>
							        <div class="modal-body">
								        <p>Find Your Truck helps you find local food trucks. All you have to do is enter your zipcode.You can click on the name of the vendor and it will show you the exact address they are in. </p>
								    </div>
							      	<div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							      </div>
							    </div>

							  </div>
							</div>
					<% end %>
				</div>
				</div>
			 </h2>
         </hr>        
     </div>
</div>

