body {
  background-color: #fdfdfd;
  font-size: 64px;
}

main {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-100%, -240%);
}

heart {
  animation: heart 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  top: 50%;
  content: '';
  left: 50%;
  position: absolute;
}

.heartL {
  animation: heartL 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  content: '';
  position: absolute;
  display: block;
  transform: translate(-29px, -28px);
  border-radius: 100%;
}

.heartR {
  animation: heartR 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  content: '';
  position: absolute;
  display: block;
  transform: translate(29px, -28px);
  border-radius: 100%;
}

.square {
  animation: square 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #3fc1f2;
  background-color: #3fc1f2;
  transform: scale(1) rotate(-45deg);
  position: relative;
  display: block;
  content: '';
}

shadow {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  top: 100px;
  left: 50%;
  content: '';
  position: relative;
  display: block;
  bottom: -.5em;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
}

@keyframes square {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}
@keyframes heart {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes heartL {
  60% {
    transform: scale(0.4);
  }
}
@keyframes heartR {
  40% {
    transform: scale(0.4);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: #e4e4e4;
  }
}