
<body class="searchpage">
    
<div class="whitespace"></div>

<div class="listofvendors"> 
  <h3>click below </h3>
   <% @response.each do |response| %>
    <% @lat = response["obj"]["last_seen"]["latitude"] %>
    <% @lng = response["obj"]["last_seen"]["longitude"] %>
    <% @name = response['obj']['name'] %>

    <p onclick="addMarker(<%= @lat %>, <%= @lng %>)"><%= response["obj"]["name"]%></p>  
    <p><% response["obj"]["last_seen"]["address"] %></p> 
    <% response["obj"]["last_seen"]["latitude"] %>
    <% response["obj"]["last_seen"]["longitude"] %>
	<% end %>
</div>



<div id="map-canvas">
  <div style='width: 400px;'>
    <div id="map" style='width: 300px; height: 300px;'></div>
  </div>
</div>
 

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

    markers = handler.addMarkers(<%= raw @hash.to_json %>); 
    handler.bounds.extendWith(markers);   
    handler.fitMapToBounds();

  });

</script>

<script>
  
  function addMarker(lat, lng) {
  
  handler.buildMap({ 
    provider: {
    center:new google.maps.LatLng(lat,lng),
    zoom:16
  }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": lat,
        "lng": lng,
      }
    ]);
    //handler.bounds.extendWith(markers);
    //handler.fitMapToBounds();
  });
   
  };

</script>
</body>




